{% extends "master.html" %}
{% block body %}
<h2>Nahrať denník</h2>

<p>Prosím vyplň <strong>3-miestny</strong> okresný znak, z ktorého si vysielal a nahraj denník vo fomáte ADIF.</p>
<p>Kódy okresov pre jednotlivé spojenia hľadám postupne v poliach: SRX_STRING, SRX, QTH a COMMENT.</p>
<p>Výstupom bude súbor vo formáte Cabrillo.</p>

<div id="upload_form">
<form method=post enctype=multipart/form-data>
  <p>
     <label for="district_code">Okresný znak:</label><input type="text" name="district_code"><br>
    <input type=file name=file><br>
     <input type="submit" value="Odoslať">
</form>
</div>
{% endblock %}
