{% extends "master.html" %}
{% block body %}
<h2>Nahrať denník</h2>

<p>Prosím vyplň <strong>3-miestny</strong> okresný znak, z ktorého si vysielal a nahraj denník vo fomáte ADIF.</p>
<p>Kódy okresov pre jednotlivé spojenia hľadám postupne v poliach: SRX_STRING, SRX, QTH a COMMENT.</p>
<p>Výstupom bude súbor vo formáte Cabrillo.</p>

<div id="upload_form">
<form method=post enctype=multipart/form-data>
  <table>
    <tr><th><label for="district_code">Okresný znak:</label></th><td><input type="text" class="text-uppercase" name="district_code"></td></tr>
    <tr><th><label for="my_call">Vlastná značka:</label></th><td><input type="text" name="my_call" class="text-uppercase"></td></tr>
    <tr><th><label for="category">Kategória (výkon):</label></th>
      <td>
        <select name="category"><option value="QRO">QRO</option><option value="QRP">QRP</option></select>
      </td>
    </tr>
    <tr><th><label for="email">E-mail:</label></th><td><input type="text" name="email"></td></tr>
    <tr><th><label for="file">Nahrať ADIF:</label></th><td><input type="file" name="file"></td></tr>
  </table>
  <p><input type="submit" value="Odoslať"></p>
</form>
</div>
{% endblock %}
