{% extends "master.html" %}
{% block body %}
<h2>Export</h2>
<p><a href="{{ url_for('om_activity.export_cabrillo', id=log.id) }}">Stiahnuť CABRILLO</a></p>
<p>Denník vo formáte CABRILLO si stiahni a nahraj u vyhodnocovateľa súťaže na <a href="http://omac.telesweb.sk/">stránke OM Activity</a>.</p>
<h2>Spojenia</h2>

<table id="qsos" class="table table-bordered">
<thead>
<tr>
    <th></th>
    <th>Čas</th>
    <th>Značka</th>
    <th>TX</th>
    <th>TX NUM</th>
    <th>RX</th>
    <th>RX NUM</th>
</tr>
</thead>
<tbody>
{% for qso in log.qsos %}
<tr{% if qso.top_distance %} class="top"{% endif %}>
    <td>{{ loop.index }}</td>
    <td>{{ qso.qso_date|date_filter }} {{ qso.time_on|time_filter }}</td>
    <td><a target="_blank" href="https://www.qrz.com/db/{{ qso.call }}">{{ qso.call }}</a></td>
    <td>{{ qso.rst_sent }}</td>
    <td>{{ qso.stx }}</td>
    <td>{{ qso.rst_rcvd }}</td>
    <td>{{ qso.srx }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
